# Ignore Asciidoc output files
*.html

# Ignore openssl, ssl output
ca
certs
csr
export
private
pkcs12
config/openssl/*.old
config/openssl/*.txt
config/openssl/*.attr

# Ignore apache output
config/openssl/*.conf
