# Ignore Asciidoc output files
*.html

# Ignore openssl, ssl output
ca
certs
csr
export
private
pkcs12
*.jks
database
config/openssl/*.old
config/openssl/*.txt
config/openssl/*.attr
serial

# Ignore apache output
config/openssl/*.conf
