# OpenSSL configuration file.
#

# Establish working directory.

dir = .

[ ca ]
default_ca = CA_default

[ CA_default ]
serial = $dir/database/serial
database = $dir/database/certindex.txt
new_certs_dir = $dir/certs
certificate = $dir/ca/cacert.pem
private_key = $dir/private/ca/cakey.pem
default_days = 365
default_md = sha512
preserve = no
email_in_dn = no
nameopt = default_ca
certopt = default_ca
policy = policy_match
copy_extensions = copy

[ policy_match ]
countryName = match
stateOrProvinceName = match
organizationName = match
organizationalUnitName = optional
commonName = supplied
emailAddress = optional

[ req ]
prompt = no
default_bits = 2048 # Size of keys
default_keyfile = key.pem # name of generated keys
default_md = sha512 # message digest algorithm
string_mask = nombstr # permitted characters
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
C   = CA
ST  = British Columbia 
L   = Delta
O   = .
#OU = Org Unit Name
#CN = Our Company Llc
CN  = localhost 

# SET-ex3 = SET extension number 3

[ req_attributes ]
challengePassword = A challenge password
challengePassword_min = 4
challengePassword_max = 20

unstructuredName = An optional company name

[ req_distinguished_name ]
C   = CA
ST  = British Columbia 
L   = Delta
O   = .
#OU = Org Unit Name
#CN = Our Company Llc
CN  = client


# SET-ex3 = SET extension number 3

[ req_attributes ]
challengePassword = A challenge password
challengePassword_min = 4
challengePassword_max = 20

unstructuredName = An optional company name
[ v3_ca ]
subjectAltName      = @alt_names
basicConstraints = CA:TRUE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always

[ v3_req ]
subjectAltName          = @alt_names
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash


[ alt_names ]
DNS.1 = localhost
